<form name="formEditStudy" ng-submit="submitStudy()">
    <fieldset>
        <label>Accession #</label>
        <input type="text" ng-model="study.accessionNo" required>
    </fieldset>
    <input type="file" id="upload" multiple>
    <div class="btn btn-primary" ng-click="attachClick()" ng-hide="!study._id">Attach</div>
    <button class="submit" ng-disabled="formstudy.$invalid">Submit</button>
    <button class="btn" ng-click="removeClick()">Delete</button>
</form>
<div id="attachments"><ul>
  <li ng-repeat="(filename, attachment) in study._attachments"><a ng-href="/imreq/{{study._id}}/{{filename}}">{{filename}}<img width="60px" ng-if="attachment.content_type.indexOf('image') == 0" ng-src="/imreq/{{study._id}}/{{filename}}"></a></li>
  {{page._attachments}}
</ul></div>
