<form name="formEditStudy" ng-submit="submitStudy()">
    <fieldset>
        <label>Accession #</label>
        <input type="text" ng-model="study.accessionNo" required>
    </fieldset>
    <button class="btn btn-primary submit" ng-disabled="formstudy.$invalid">Save Study</button>
    <button class="btn btn-danger" ng-click="removeClick()">Delete</button>
</form>
<div id="attachments" ng-hide="!study._id">
  <h3>Attachments:</h3>
  <input type="file" id="upload" multiple>
  <div class="btn btn-primary" ng-click="attachClick()">Attach</div>
  <ul>
  <li ng-repeat="(filename, attachment) in study._attachments"><a ng-href="/imreq/{{study._id}}/{{filename}}">{{filename}}</a></li>
  {{page._attachments}}
  </ul>
</div>
